#EnglishSubjects, #MathSubjects {
    --primary: #064789;
    --secondary: #427AA1;
    --accent: EBF2FA;
    display: none;
    border-color: var(--primary);
    border-width: 1rem;
    border-style: solid;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

    h1 {
        padding: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #ffffff;
        background-color: var(--secondary);
    }

    a {
        margin: 2%;
    }
}

