.page-container{
    background-color: rgb(243, 233, 233);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.text-container{
    background-color: #427AA1;
    height: 30rem;
    width: 30rem;
    color: #EBF2FA;
}